<div layout="column" ng-controller="LocationInformationCtrl">
  <!-- Insert Category Picture here -->
  <h3>
    Name und Adresse
  </h3>
  <md-input-container>
    <input type="text" required placeholder="Name" ng-model="locationName" name="nameInput">
  </md-input-container>
  <h4>
    Adresse
  </h4>
  <md-button class="md-raised">
    <md-tooltip>Enter a name first</md-tooltip>
    Standort verwenden
  </md-button>
  <md-button class="md-raised" ui-sref="locations-manual-adress">
    <md-tooltip ng-if="locationName.length == 0">Enter a name first</md-tooltip>
    Manuell eingeben
  </md-button>
  <md-button class="md-primary md-raised"  ui-sref="locations-create">
    Zurück
  </md-button>
</div>
