html, body {
	font-family: 'lato';
	height: 100%
}

.textcenter {
	text-align: center;
}

.main {
	text-align: center;
	font-size: 0.70em;
	color: white;
}

/* home and feedback */
.bubble2{
	position: relative;
	
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: solid;
	border-radius: 0.25em;
	box-shadow: 0.25em 0.25em 0.5em #888;
}

.gridIcons {
	background-color: #FFD600;
	border-radius: 1em;
	
}
/* presentation page */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
/* presentation page */
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

 /* for BIG screens */
.drop {
	padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    max-width: 30%;
    height: auto;
}
/* for BIG screens, Siehst du Wasser image */
.drop2 {
	padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
}

/* for SMALL and MEDUIM Thank you page  */
.vcalogo0 {
	padding-top: 15%;
    padding-bottom: 5%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width:100%; 
    height:auto;
}
/* for SMALL and MEDUIM Thank you page  */
.vcalogo {
	padding-top: 5%;
    padding-bottom: 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 45%; 
    height: auto;
}
 /* for SMALL and MEDUIM screens */
.vcalogo2 {
	padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    position: relative;
    max-width: 30%;
    height: auto;
}
/* logo for presentation page SMALL screen */
.vcalogo3 {
	padding-top: 10%;
    padding-bottom: 5%;
    margin-top: 1em;
    position: relative;
    max-width: 40%; 
    height: auto;
}

.googlemaps {
    padding-top: 5%;
}

.progressbar {
	padding-top: 25px;
    padding-bottom: 20px;
}

/* Autocomplete text field */
.style-4 {
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  font-family: 'lato';
  border-bottom: solid 2px;
  border-bottom-color: rgb(230, 131, 82);
  transition: border 0.2s;
  background: transparent;
  width:90%;
}

.btn1 {
	background-color:rgb(63, 170, 210);
	color: #EEEEEE;
	font-size: 20px;
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	border-radius: 17px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	border: none;
	outline: none;
	width: 200px;
}

.btn2 {
	background-color: #EEEEEE; /* White */
	color:rgb(41, 90, 120);  /* Text */
	font-size: 20px;
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	border-radius: 17px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	border: none;
	outline: none;
	width: 300px;
}

/* tick am ende SMALL screen */
.tick {
	padding-top: 5%;
    padding-bottom: 2%;
    margin-top: 1em;
    position: relative;
    max-width: 30%; 
    height: auto;
    fill: #2196F3;
}

md-checkbox.new .md-icon {
	background-color: #FAFAFA;
	border-radius: 40px;
	border-width: 1px;
}

.icon-image {
    position: relative;
    max-width: 90%;
    height: auto;
}

.icon-image2 {
    position: relative;
    max-width: 110%;
    height: auto;
}

div[back-img]{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}