html, body {
	font-family: 'museo';
}

.bubble{
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;

}

.bubble2{
	padding: 20px 20px 20px 20px;
	border: solid;
	border-radius: 6px;
	box-shadow: 2px 2px 4px #888;
}

.btn1 {
padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  width: 355px;
}

.gridIcons {
	background-color: #FFD600;
	border-radius: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vcalogo {
	padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5%;
}

.vcalogo2 {
	padding-top: 20%;
    padding-bottom: 20%;
}

.vcalogo3 {
	padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 4%;
}

.googlemaps {
    padding-top: 5%;
}

.textcenter {
	text-align: center;
}

.progressbar {
	padding-top: 25px;
    padding-bottom: 20px;
}

/* Autocomplete text field */
.style-4 {
  padding: 10px;
  border: none;
  font-family: 'museo';
  border-bottom: solid 2px #2196F3;
  transition: border 0.2s;
  background: transparent;
}
