html, body {
	font-family: 'museo';
}

.btn1 {
	border-radius: 3px;
	font-size: 14px;
	border: solid;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.gridIcons {
	background-color: #FFD600;
	border-radius: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}