html, body {
	font-family: 'lato';
	height: 100%
}

.selected {
    background-color: green !important;
}
.selecting {
    background-color: yellow !important;
}

.textcenter {
	text-align: center;
}

.textDarkBlue {
	color: rgb(41,90,120);
}

.textGrayBlue {
	color: rgb(149,166,179);
}

.textLightBlue {
	color: rgb(63,170,210);
}

.textOrange {
	color: rgb(230,131,82);
}

.main {
	text-align: center;
	font-size: 0.70em;
	color: white;
}

.switchNew {
	margin-left: 1em;
    margin-right: 0.8em;
}
/* home and feedback */
.bubble2{
	position: relative;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: solid;
	border-radius: 0.25em;
	box-shadow: 0.25em 0.25em 0.5em #888;
}

.gridIcons {
	background-color: #FFD600;
	border-radius: 1em;
	
}
/* presentation page */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
/* presentation page */
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

 /* for BIG screens */
.drop {
	padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    max-width: 30%;
    height: auto;
}
/* for BIG screens, Siehst du Wasser image */
.drop2 {
	padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
}

.vcalogo-1 {
	padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 45%; 
    height: auto;
}

/* for SMALL and MEDUIM Thank you page  */
.vcalogo0 {
	padding-top: 15%;
    padding-bottom: 5%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width:100%; 
    height:auto;
}
/* for SMALL and MEDUIM Thank you page  */
.vcalogo {
	padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 30%; 
    height: auto;
}
 /* for SMALL and MEDUIM screens */
.vcalogo2 {
	padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    position: relative;
    max-width: 30%;
    height: auto;
}
/* logo for presentation page SMALL screen */
.vcalogo3 {
	padding-top: 10%;
    padding-bottom: 5%;
    margin-top: 1em;
    position: relative;
    max-width: 40%; 
    height: auto;
}

.vcalogo4 {
	padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 1em;
    position: relative;
    max-width: 100%; 
    height: auto;
}

/* final drop on Thank you page SMALL */
.vcalogo5 {
	padding-top: 5%;
    margin-top: 5em;
    width: 45%; 
    height: auto;
}

.googlemaps {
    padding-top: 5%;
}

.progressbar {
	padding-top: 25px;
    padding-bottom: 20px;
}

/* Autocomplete text field */
.style-4 {
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  font-family: 'lato';
  font-weight: bold;
  font-size: 10pt;
  border-bottom: solid 2px;
  border-bottom-color: rgb(230, 131, 82);
  transition: border 0.2s;
  background: transparent;
  width:90%;
}

.btn1 {
	background-color:rgb(63, 170, 210);
	color: #EEEEEE;
	font-size: 20px;
	font-weight: bold;
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	outline: none;
	width: 260px;
}

.btn2 {
	background-color: #EEEEEE; /* White */
	color:rgb(41, 90, 120);  /* Text */
	font-size: 20px;
	font-weight: bold;
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	border: solid 0.02em;
	outline: none;
	border-color: rgb(149,166,179);
	width: 300px;
}

/* tick am ende SMALL screen */
.tick {
	padding-top: 5%;
    padding-bottom: 2%;
    margin-top: 1em;
    position: relative;
    max-width: 30%; 
    height: auto;
    fill: #2196F3;
}

md-checkbox.new .md-icon {
	background-color: #FAFAFA;
	border-radius: 40px;
	border-width: 0.1px;
	border-color: #FAFAFA;
}

md-card.new {
	margin-bottom: 5%;
	margin-top: 10%;
}

.icon-image {
    position: relative;
    max-width: 105%;
    height: auto;
}

.icon-image2 {
    position: relative;
    max-width: 110%;
    height: auto;
}

div[back-img]{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

md-icon.new {
	font-size:40px;
	height: 40px;
	width: 40px;
}

.md-button.md-icon-button.new {
	font-size:50px;
	height: 50px;
	width: 50px;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
.selectdemoSelectHeader md-content._md {
    max-height: 240px; }
    
.why {
	margin-top: 3em;
    margin-bottom: 2em;
}