<div layout="column">
  <form name="formName">
    <div layout="row">
      <md-input-container>
        <input placeholder="Street" ng-model="streetModel" readonly>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container>
        <input type="number" maxlength="5" minlength="4" placeholder="ZIP code" ng-model="postcodeModel" readonly>
      </md-input-container>
      <md-input-container>
        <input placeholder="City" ng-model="cityModel" readonly>
      </md-input-container>
    </div>
  </form>
</div>