<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
  <a>
    <img class="vcalogo0" src="sources/img/vcalogo_blue.png"/>
  </a>
  <md-toolbar class="md-theme-indigo md-hue-3">
    <md-button ui-sref="home" ng-click="toggleLeft()">
      Home
    </md-button>
    <md-button ui-sref="locations" ng-click="toggleLeft()">
      Location
    </md-button>
    <md-button ui-sref="map" ng-click="toggleLeft()">
      Map
    </md-button>
    <md-button ui-sref="presentation" ng-click="toggleLeft()">
      VcA
    </md-button>
    <md-button ui-sref="feedback" ng-click="toggleLeft()" >
      Feedback
    </md-button>
  </md-toolbar>
</md-sidenav>