<md-sidenav class="md-sidenav-left" md-component-id="left"md-whiteframe="4">
  <a>
    <img class="vcalogo" src="sources/img/vcalogo_blue.png"
    width="90%" height="auto" />
  </a>
  <md-toolbar class="md-theme-indigo md-hue-3">
    <md-button ui-sref="home" ng-click="toggleLeft()">
      Home
    </md-button>
    <md-button ui-sref="locations" ng-click="toggleLeft()">
      Location
    </md-button>
    <md-button ui-sref="map" ng-click="toggleLeft()">
      Map
    </md-button>
    <md-button ui-sref="presentation" ng-click="toggleLeft()">
      VcA
    </md-button>
    <md-button ng-click="toggleLeft()" ui-sref="feedback">
      Feedback
    </md-button>
  </md-toolbar>
</md-sidenav>
