<md-radio-group ng-model="decisionValueModel">
  <md-radio-button value="0">Bereits Supporter</md-radio-button>
  <md-radio-button value="1">Interesse</md-radio-button>
  <!-- duplicate code with locations-toilet-paper-decision-interest -->
  <fieldset ng-if="decisionValueModel == 1" class="standard">
     <legend>Warum bisher noch nicht?</legend>
     <div layout="column" layout-wrap flex>
        <md-checkbox class="md-primary" ng-repeat="reason in interestReasons">
          {{reason.text}}
        </md-checkbox>
     </div>
  </fieldset>
  <md-radio-button value="2">Kein Interesse</md-radio-button>
  <fieldset ng-if="decisionValueModel == 2" class="standard">
     <legend>Warum nicht?</legend>
     <div layout="column" layout-wrap flex>
        <md-checkbox class="md-primary" ng-repeat="reason in noInterestReasons">
          {{reason.text}}
        </md-checkbox>
     </div>
  </fieldset>
</md-radio-group>
