<div ng-controller="AppCtrl as vm" layout="column" class="progressbar" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue3}}"></md-progress-linear>
</div>

<div ng-controller="WaterDecisionCtrl">
  <h3>Welches Wasser siehst du?</h3>
  <div layout="row">
    <md-button class="md-raised" name="glas" ui-sref="locations-create-summary" ng-click="saveSelection($event)">
      Glas
    </md-button>
    <md-button class="md-raised" name="plastik" ui-sref="locations-create-summary" ng-click="saveSelection($event)">
      Plastik
    </md-button>
  </div>
  <md-card class="bubble2">
    In den nachfolgenden Screens wird je nach Auswahl die entsprechenden Gebindearten per Bild angezeigt und per "Frame" Auswahl (Mehrfachnennung möglich) abgefragt
  </md-card>
    <footer>
        	<div layout="row" layout-align="center center">
            	<md-button ng-click="goBack()">
            		<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            	</md-button>
        	</div>
    	</footer>
</div>