<div ng-controller="AppCtrl as vm" layout="column" class="progressbar" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue2}}"></md-progress-linear>
</div>

<div layout="column" layout-align="center center" ng-controller="TestCtrl">
  <h1>Name</h1>
  <input type="text" id="Autocomplete2" ng-model="vm.autocomplete" 
      class="style-4" ng-autocomplete options="vm.options" details="vm.details" initial-address="vm.initialAddress" placeholder = "Enter the name"/>
	<br>
  <h2> Adresse</h2>
    <b>Details:</b>{{vm.details.formatted_address}} 
     <br/>
  <footer>
        <div layout="row" layout-align="center center">
            <md-button ng-click="goBack()">
            	<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            </md-button>
            <md-button  ng-click="save()" ui-sref= 'locations-manual-adress'>
            	<md-icon md-svg-src="sources/img/icons/edit.svg"></md-icon>
            </md-button>
            <md-button ui-sref="locations-water-decision"  ng-click="save()">
            	<md-icon md-svg-src="sources/img/icons/continue.svg"></md-icon>
            </md-button>
        </div>
   </footer>
</div>