<div layout="column" layout-align="center" ng-controller="locationsDetailCtrl">
  <location-header location="selectedLocation" category-name="getCategoryName(selectedLocation.categoryIndex)" source="getSourceForIndex(selectedLocation.categoryIndex)"></location-header>
  <md-tabs md-selected="tabIndex" md-dynamic-height md-border-bottom md-stretch-tabs="yes">
    <md-tab label="Infos">
      <location-info-form
        street-model="selectedLocation.address.street"
        additionaladdress-model="selectedLocation.address.additionalAddress"
        city-model="selectedLocation.address.city"
        postcode-model="selectedLocation.address.postcode"
        form-name="locationInfoForm">
      </location-info-form>
	</md-tab>
    <md-tab label="Wasser">
      <div class="md-padding">
      	<p>Siehst du Wasser?</p>
		<md-switch ng-model="already">
		</md-switch>
		<p ng-if="!already">Diese Location führt VcA Wasser. Vorstellbar?</p>
		<md-switch ng-model="imagine" ng-if="!already">
		</md-switch>
      </div>
    </md-tab>
  </md-tabs>
    <footer>
        <div layout="row" layout-align="center center">
            <md-button ng-click="backClicked()">
            	<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            </md-button>
            <md-button>
            	<md-icon md-svg-src="sources/img/icons/save.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>
