<div ng-controller="AppCtrl as vm" layout="column" class="progressbar" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue3}}"></md-progress-linear>
</div>

<div ng-controller="WaterDecisionCtrl" layout="column" layout-align="center center">
  <h2>Imagine: This location would offer VcA water?</h2>
    <img class="vcalogo2" hide-gt-sm flex src="sources/img/vcaineralwasser.png">
    <img class="drop" hide show-gt-sm flex src="sources/img/vcaineralwasser.png">
    <md-button class="md-raised" ui-sref="locations-water-decision-interest" ng-click="saveDecision('imagineYes')">
      Yes
    </md-button>
    <md-button class="md-raised" ui-sref="locations-water-decision-no-interest" ng-click="saveDecision('imagineNo')">
      No
    </md-button>
    <footer>
        <div layout="row" layout-align="center center">
            <md-button ng-click="goBack()">
            	<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>