<div ng-controller="AppCtrl as vm" class="progressbar" layout="column" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue1}}"></md-progress-linear>
</div>

<div ng-controller="CategorySelectionCtrl" layout="column">
  <div layout="column" layout-align="center center">
  <h2>In which category the location belongs to?</h2>
  </div>
  <md-grid-list hide-gt-sm flex md-gutter="1.5em" md-cols="3" md-row-height="2:1.75">
    <md-grid-tile class= "gridIcons" ng-repeat="(index, tile) in tiles" layout-padding ng-click="tileClicked(index)">
      <img ng-src={{tile.src}} width="auto" height="80%"/>
    </md-grid-tile>
  </md-grid-list>
  <md-grid-list hide show-gt-sm flex md-gutter="1.5em" md-cols="3" md-row-height="1:0.85" style="height:40%;" width="30%">
    <md-grid-tile class= "gridIcons" width="30%"  style="width:30%" ng-repeat="(index, tile) in tiles" ng-click="tileClicked(index)">
      <img ng-src={{tile.src}} width="30%" height="30%"/>
    </md-grid-tile>
  </md-grid-list>
	<footer>
        <div layout="row" layout-align="center center">
            <md-button ng-click="goBack()">
            	<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>


<!-- style="background-color:blue; " -->