<div ng-controller="AppCtrl as vm" layout="column" class="progressbar" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue3}}"></md-progress-linear>
</div>

<div ng-controller="WaterDecisionCtrl" layout="column">
  <h3>Imagine: Diese Location führt VcA Wasser <br>Vorstellbar?</h3>
    <img width="100%" class="vcalogo2" height="auto" src="sources/img/vcaineralwasser.png">
    <md-button class="md-raised" ui-sref="locations-water-decision-interest" ng-click="saveDecision('imagineYes')">
      Ja
    </md-button>
    <md-button class="md-raised" ui-sref="locations-water-decision-no-interest" ng-click="saveDecision('imagineNo')">
      Nein
    </md-button>
        <footer>
        	<div layout="row" layout-align="center center">
            	<md-button ng-click="goBack()">
            		<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            	</md-button>
        	</div>
    	</footer>
</div>