<div ng-controller="CategorySelectionCtrl">
  <div layout="column" layout-align="center center">
  <h2 class="textcenter">To which category does the location belong to?</h2>
  </div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised" style="background-color:rgb(236,206,122)" ng-repeat="(index, tile) in tiles" layout-padding ng-click="tileClicked(index)">
        <md-icon style="" md-svg-icon={{tile.src}}></md-icon>
      </md-button>
  </section>
	<footer>
        <div layout="column" layout-align="center center">
            <md-button class='btn1' ng-click="goBack()">
            	back
            </md-button>
        </div>
    </footer>
</div>