<div layout="column" layout-align="center center" ng-controller="SummaryController">
 <!-- <img class="tick" src="sources/img/tick.svg"> -->
   
   <md-icon md-svg-icon="sources/img/icons/tick.svg"></md-icon>
   
   <h1>
     <span class="md-headline"><b>{{location.name}}</b>
       was created!</span>
   </h1>
   <div>
     <p>
       {{location.address.street}} <br>
       <span ng-if="location.address.additionalAddress">{{location.address.additionalAddress}} <br></span>
       {{location.address.postcode}} <br>
       {{location.address.city}} <br>
     </p>
     <p><u>Water</u></p>
     <p><i>{{getDecisionText(waterDecision.decisionCode)}}</i>
     <ul ng-if="waterDecision.reasons.length !== 0">
       <li ng-repeat="reason in waterDecision.reasons">
         {{reason.text}}
       </li>
     </ul>
     </p>
   </div>
   <br>
  
  <footer>
        <div layout="column" layout-align="center center">
        	<md-button ng-click="saveLocationInfo()" class="btn2">save</md-button>
            <md-button class='btn1' ng-click="goBack()">
            	back
            </md-button>
        </div>
    </footer>
</div>