<div ng-controller="AppCtrl as vm" layout="column" class="progressbar" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue3}}"></md-progress-linear>
</div>

<div layout="column" ng-controller="WaterDecisionCtrl">
  <fieldset class="standard">
     <legend>Why not?</legend>
     <div layout="column" layout-wrap>
        <md-checkbox class="md-primary" ng-repeat="reason in reasons" ng-click="toggle(reason, selected)">
          {{reason.text}}
        </md-checkbox>
      </div>
  </fieldset>
    <footer>
        <div layout="row" layout-align="center center">
            <md-button ng-click="goBack()">
            	<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            </md-button>
            <md-button ng-click="sendSupporter()">
            	<md-icon  md-svg-src="sources/img/icons/continue.svg">></md-icon>
            </md-button>
        </div>
    </footer>
</div>