<div layout="column" layout-align="center center" ng-controller="autoCompleteController"> <!-- Controller liegt in autoComplete.js -->
	<img class="header" hide-gt-sm flex src="sources/img/header/header_locations.png"/>
	<div layout="column" layout-align="center center">
		<input type="text" id="Autocomplete" ng-model="autocomplete" 
			class="inputAutoComplete" ng-autocomplete options="options1" details="details1" initial-address="initialAddress" placeholder = "Enter name or address"/>
		<footer>
			<div layout="column" layout-align="center center">
				<md-button class='btn_next' ng-click="save()">
					search
				</md-button>
				<md-button class='btn_back' ng-click="goBack()">
					back
				</md-button>
			</div>
		</footer>
	</div>
</div>