<div layout="column" layout-align="center center" ng-controller="WaterDecisionCtrl">
  <h3 class="textGrayBlue">What kind of water/bottle do you see?</h3>
  <div layout="row">
    <md-button class="md-raised" name="glas" ui-sref="locations-create-summary" ng-click="saveSelection($event)">
      Glas
    </md-button>
    <md-button class="md-raised" name="plastik" ui-sref="locations-create-summary" ng-click="saveSelection($event)">
      Plastik
    </md-button>
  </div>
  
	<img class="icon-image2" ng-src="{{image}}"/>
  
  <div layout=row layout-align="center end">
    <md-button>
      <img class="icon-image2" src="sources/img/water/330GLAS.png">
    </md-button>
    <md-button >
      <img class="icon-image2" src="sources/img/water/500PET.png">
    </md-button>
    <md-button >
      <img class="icon-image2" src="sources/img/water/750GLAS.png">
    </md-button>
    </div>
    <!-- <div layout=row layout-align="center">
    	<p>330 ml Glas</p> <br>
    	<p>500 ml PET</p> <br>
    	<p>750 ml Glas</p> <br> -->
  
    <div layout=row layout-align="center end">
    <md-button>
     <img class="icon-image2" src="sources/img/water/1000PET.png">
    </md-button>
    <md-button>
      <img class="icon-image2" src="sources/img/water/750TRIO.png">
    </md-button>
    <md-button>
      <img class="icon-image2" src="sources/img/water/750PET.png">
    </md-button>
    </div>
    <!-- <div layout=row layout-align="center">
    	<p>330 ml Glas</p>
    	<p>500 ml PET</p>
    	<p>750 ml Glas</p> 
    </div> -->
  
  
    <footer>
        <div layout="column" layout-align="center center">
        	<md-button class="btn2" ui-sref="locations-create-summary">continue</md-button>
            <md-button class='btn1' ng-click="goBack()">
            	back
            </md-button>
        </div>
    </footer>
</div>