<div layout="column" layout-align="center center" ng-controller="TestCtrl">
  <div layout="column" layout-align="center center">
		<img class="vcalogo2"  hide-gt-sm flex src="sources/img/vcalogo_blue.png"/>
		<img class="drop" hide show-gt-sm flex src="sources/img/vcalogo_blue.png">
		<h1 class = 'textcenter'>Where are YOU?</h1>
		 <input type="text" id="Autocomplete" ng-model="autocomplete" 
      class="style-4" ng-autocomplete options="options1" details="details1" initial-address="initialAddress" placeholder = "Enter name or address"/>
	<br>
	</div>
  
  
  <footer>
        <div layout="row" layout-align="center center">
            <md-button ng-click="goBack()">
            	<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            </md-button>
            
            <md-button ui-sref="locations-search-result"  ng-click="save()">
            	<md-icon md-svg-src="sources/img/icons/continue.svg"></md-icon>
            </md-button>
        </div>
   </footer>
</div>