<div layout="column" layout-align="center center" ng-controller="WaterDecisionCtrl">
     <h3 class= "why">Why wasn't it before?</h3>
     <br>
     <div layout="column" layout-align="center">
        <md-checkbox class="new" ng-repeat="reason in reasons" ng-click="toggle(reason, selected)">
          {{reason.text}}
        </md-checkbox>
     </div>
    <footer>
        <div layout="column" layout-align="center center">
            <div layout="column" layout-align="center center">
            	<md-button class='btn2' ng-click="sendSupporter()">
        			continue
            	</md-button>
            	<md-button class='btn1' ng-click="goBack()">
            		back
            	</md-button>
        	</div>
       </div>
    </footer>
</div>