<div ng-controller="AppCtrl as vm" layout="column" class="progressbar" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue3}}"></md-progress-linear>
</div>
<div layout="column" ng-controller="WaterDecisionCtrl">

<!--	<location-header location="sLocation" category-name="getCategoryName(sLocation.categoryIndex)" source="getSourceForIndex(sLocation.categoryIndex)"></location-header>
    <img width="100%" class="vcalogo2" height="auto" src="sources/img/vcaineralwasser.png"> -->
    <h3>Siehst du VcA Wasser?</h3>
    <img width="100%" class="vcalogo2" height="auto" src="sources/img/watervariants.jpg">
    <md-button class="md-raised" name="seeYes" ui-sref="locations-water-selection" ng-click="saveDecision('seeYes')">
      Ja
    </md-button>
    <md-button class="md-raised" name="seeNo" ui-sref="locations-no-water" ng-click="saveDecision('seeNo')">
      Nein
    </md-button>
</div>