<div layout="column" ng-controller="locationsDetailCtrl">

  <location-header location="selectedLocation" category-name="getCategoryName(selectedLocation.categoryIndex)" source="getSourceForIndex(selectedLocation.categoryIndex)"></location-header>

  <md-tabs md-selected="tabIndex" md-dynamic-height md-border-bottom md-stretch-tabs="yes">
    <md-tab label="Infos">
      <location-info-form
        street-model="selectedLocation.address.street"
        additionaladdress-model="selectedLocation.address.additionalAddress"
        city-model="selectedLocation.address.city"
        postcode-model="selectedLocation.address.postcode"
        form-name="locationInfoForm">
      </location-info-form>
    <!--  <md-button class="md-rasied btn1">Änderungen speichern</md-button> -->
	</md-tab>
    <!--<md-tab label="Ansprechpartner">
      <md-content class="md-padding">
        <md-list flex>
          <md-list-item ng-repeat="contact in contacts" class="md-2-line" ng-click="contactClicked(contact.id)">
            <img ng-src="{{contact.source}}" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ contact.vorname + ' ' + contact.name }}</h3>
              <p>{{ contact.job }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
      <md-button class="md-raised btn1" ng-click="addContactClicked()">
        Ansprechpartner hinzufügen
      </md-button>
    </md-tab>-->
    <md-tab label="Wasser">
      <div class="md-padding">
		<md-switch ng-model="already">
			Siehst du Wasser?
		</md-switch>
		<md-switch ng-model="imagine" ng-if="!already">
			Diese Location führt VcA Wasser. Vorstellbar?
		</md-switch>
      </div>
    </md-tab>
  </md-tabs>
  <!--<md-button class="md-raised">Änderungen speichern</md-button>-->
    <footer>
        	<div layout="row" layout-align="center center">
            	<md-button ng-click="backClicked()">
            		<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            	</md-button>
            	<md-button>
            		<md-icon md-svg-src="sources/img/icons/save.svg"></md-icon>
            	</md-button>
        	</div>
    	</footer>
</div>