<div ng-controller="AppCtrl as vm" layout="column" class="progressbar" ng-cloak>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue2}}"></md-progress-linear>
</div>
<div layout="column" layout-fill ng-controller="ManualAdressCtrl">
  <h3 style="color: blue;">{{locationName}}</h3>
  <h3 class = "textcenter">Address</h3>
  <md-input-container>
    <input type="text" placeholder="Name" ng-model="locationName" name="nameInput">
  </md-input-container>
  <location-info-form
    street-model="address.street"
    additionaladdress-model="address.additionalAddress"
    postcode-model="address.postcode"
    city-model="address.city">
  </location-info-form>
  
<!--  <md-button class="md-raised" ng-click="showConfirm($event)" ng-disabled="manualAddressForm.$invalid">
    Go on!
  </md-button>-->
  
    <footer>
        <div layout="row" layout-align="center center">
            <md-button ng-click="goBack()">
            	<md-icon md-svg-src="sources/img/icons/backarrow.svg"></md-icon>
            </md-button>

        </div>
   </footer>
</div>