<md-sidenav class="md-sidenav-left" md-component-id="left"md-whiteframe="4">
  <a href="http://www.vivaconagua.org/" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/de/thumb/3/3a/Viva-con-Agua-Logo.svg/500px-Viva-con-Agua-Logo.svg.png"
      width="90%" height="auto" />
  </a>
  <md-toolbar class="md-theme-indigo md-hue-3">
    <md-button ui-sref="home" ng-click="toggleLeft()">
      Home
    </md-button>
    <md-button ui-sref="presentation" ng-click="toggleLeft()">
      Präsentation
    </md-button>
    <md-button ui-sref="locations" ng-click="toggleLeft()">
      Locations
    </md-button>
    <md-button ng-click="toggleLeft()">
      Ansprechpartner
    </md-button>
  </md-toolbar>
  <br>
  <br>
  <md-toolbar class="md-theme-indigo md-hue-4">
    <md-button cng-click="toggleLeft()">
      Login
    </md-button>
  </md-toolbar>
</md-sidenav>
