<div ng-layout="column" ng-controller="SummaryController">

  <md-card>
    <md-card-title>
      <img src="">
      <md-card-title-text>
        <span class="md-headline"><b>{{location.name}}</b>
          wurde angelegt!</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{location.address.street}} <br>
        <span ng-if="location.address.additionalAddress">{{location.address.additionalAddress}} <br></span>
        {{location.address.postcode}} <br>
        {{location.address.city}} <br>
      </p>
      <p><u>Wasser</u></p>
      <p><i>{{getDecisionText(waterDecision.decisionCode)}}</i>
      <ul ng-if="waterDecision.reasons.length !== 0">
        <li ng-repeat="reason in waterDecision.reasons">
          {{reason.text}}
        </li>
      </ul>
      </p>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
      <md-button class="md-raised">Zum Ansprechpartner-Menu</md-button>
    </md-card-actions>
  </md-card>
  <!--
  <h3>Toilettenpapier</h3>
  <h4>{{getDecisionText(paperDecision.decisionCode)}}</h4>
  <ul ng-if="paperDecision.reasons.length !== 0">
    <li ng-repeat="reason in paperDecision.reasons">
      {{reason.text}}
    </li>
  </ul>
  -->
</div>
