<div layout="column" ng-controller="LocationInformationCtrl">
  <!-- Insert Category Picture here -->
  <h3>
    Name und Adresse
  </h3>
  <md-input-container>
    <input type="text" placeholder="Name" ng-model="locationName" name="nameInput">
  </md-input-container>
  <h4>
    Adresse
  </h4>
  <md-button md-layout="row" class="md-raised" ng-disabled="locationName.length == 0" ng-click="confirmAddress()">
    Standort verwenden
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
    </div>
    <md-tooltip ng-if="locationName.length == 0">Enter a name first</md-tooltip>
  </md-button>
  <md-button class="md-raised" ng-disabled="locationName.length == 0" ng-click="goEnterManual()">
    <!-- I used ng-click instead of ui-sref, because ui-sref
    and ng-disabled does not work together -->
    <md-tooltip ng-if="locationName.length == 0">Enter a name first</md-tooltip>
    Manuell eingeben
  </md-button>
  <md-button class="md-primary md-raised" ui-sref="locations-create">
    Zurück
  </md-button>
</div>