<div layout="column" layout-fill ng-controller="ManualAdressCtrl">
  <h3 style="color: blue;">{{locationName}}</h3>
  <!-- Small icon with category or something similiar -->
  <h3>Adresse</h3>
  <location-info-form
    form-name="manualAddressForm"
    street-model="address.address"
    additionaladdress-model="address.additionalAddress"
    postcode-model="address.postcode"
    city-model="address.city">
  </location-info-form>
  <md-button class="md-warn md-raised" ng-click="deletePressed()">
    Löschen
  </md-button>
  <md-button class="md-raised" ng-click="showConfirm($event)" ng-disabled="manualAddressForm.$invalid">
    Go on!
  </md-button>
  <md-button class="md-primary md-raised" ui-sref="locations-create-information">
    Zurück
  </md-button>
</div>
