<div ng-controller="mapController">
	<h3 >Where can I get VcA?</h3>
 <div layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="50" layout="column">
      <div>
       <!-- <fieldset class="standard" > -->
          <h3>Choose the category</h3>
          <div layout="column" layout-align="center">
              <md-checkbox class="new" ng-repeat="category in categories" ng-click="filterChanged(category)">
                {{ category }}
              </md-checkbox>
          </div>
        <!-- </fieldset> -->
      </div>
    </div>
    </div>
<style>
  ng-map#custom1 {display:block; height:25em; padding-top: 3%;} /* SMALL SCREENS */
</style>
<style>
  ng-map#custom2 {display:block; height:30em; padding-top: 3%;} /* BIG SCREENS - not in use*/
</style>
<style>
  ng-map#custom3 {display:block; height:40em; padding-top: 3%;} /* IPAD - not in use*/
</style>
   <!-- <div hide-gt-xs flex>-->
    <ng-map id="custom1" default-style="false" center="current-location" zoom="13">
        <info-window id="myInfoWindow" position="current-location">
            <div ng-non-bindable>
                <h4>{{selectedLocation.NAME}}</h4>
            </div>
        </info-window>
    </ng-map>
    <!-- <div hide show-gt-md flex>
    <ng-map id="custom2" default-style="false" center="current-location" zoom="13">
        <info-window id="myInfoWindow" position="current-location">
            <div ng-non-bindable>
                <h4>{{selectedLocation.NAME}}</h4>
            </div>
        </info-window>
    </ng-map>
    </div>
    <div hide show-sm show-md flex>
    <ng-map id="custom3" default-style="false" center="current-location" zoom="13">
        <info-window id="myInfoWindow" position="current-location">
            <div ng-non-bindable>
                <h4>{{selectedLocation.NAME}}</h4>
            </div>
        </info-window>
    </ng-map>
    </div> -->
</div>