<div layout="column" layout-align="center">
	<md-card class="new">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline textcenter">WHERE CAN <br>I GET VCA</span>
		</md-card-title-text>
		<md-card-title-media>
		<!-- Move everything from inline css to global design files -->
			<img ng-src="sources/img/Locations1.png" style="" class="md-media-sm card-media"/>
		</md-card-title-media>
	</md-card-title>
	</md-card>
</div>
<div layout="column" layout-align="center center" ng-controller="HomeHelp">
	<div ng-controller="mapController">
			<div layout="row" layout-wrap>
				<div flex="100" flex-gt-sm="50" layout="column">
    				<div>
        			<fieldset class="standard" >
        			<legend>Choose the category</legend>
        				<div layout="row" layout-wrap flex>
            			<md-checkbox ng-repeat="category in categories" ng-click="filterChanged(category)">
                		{{ category }}
            			</md-checkbox>
        				</div>
        			</fieldset>
    				</div>
    			</div>
    		</div>
<style>
  ng-map#custom1 {display:block; height:25em; padding-top: 3%;} /* SMALL SCREENS */
</style>
<style>
  ng-map#custom2 {display:block; height:30em; padding-top: 3%;} /* BIG SCREENS - not in use*/
</style>
<style>
  ng-map#custom3 {display:block; height:40em; padding-top: 3%;} /* IPAD - not in use*/
</style>
   <!-- <div hide-gt-xs flex>-->
    <ng-map id="custom1" default-style="false" center="current-location" zoom="13">
        <info-window id="myInfoWindow" position="current-location">
            <div ng-non-bindable>
                <h4>{{selectedLocation.NAME}}</h4>
            </div>
        </info-window>
    </ng-map>
    </div>
</div>