<div layout="column" ng-controller="contactDetailCtrl">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{selectedContact.vorname + ' ' + selectedContact.name}}</span>
        <span class="md-subhead">{{selectedContact.job}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <img ng-src="{{selectedContact.source}}" class="md-media-sm card-media"/>
      </md-card-title-media>
    </md-card-title>
  </md-card>
  <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="yes">
    <md-tab label="Infos">
      <person-info-form>
      </person-info-form>
    </md-tab>
    <md-tab label="Kontakt">
      <md-content class="md-padding">
        Kontaktverlauf hier
      </md-content>
    </md-tab>
    <md-tab label="Notiz">
      <div class="md-padding">
        <md-list>
          <md-list-item ng-repeat="note in notes" class="md-3-line md-long-text">
            <div class="md-list-item-text">
              <h3>{{ note.author }}</h3>
              <h4>{{ note.createdOn }}</h4>
              <p>
                {{note.text}}
              </p>
            </div>
          </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-input-container class="md-block">
          <label>Neue Notiz</label>
          <textarea rows="5"></textarea>
        </md-input-container>
        <md-button ng-click="addNote()">
          Hinzufügen
        </md-button>
      </div>
    </md-tab>
  </md-tabs>
  <md-button class="md-raised md-primary" ng-click="backPressed()">
    Zurück
  </md-button>
</div>
